body {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: $bg-h;
    color: $reference-color;
    text-decoration: none;
    // background-image: url("../img/hehehe.jpeg");
    // background-repeat: no-repeat;
    // background-position: center;
}
// #1
// background-color: $bg-h;
// color: $reference-color;

// #2 