.feedback-data__fieldset-feedback {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 5px solid pink;
    border-radius: 25px;
}

.feedback-data__list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600px;
}

.feedback-data__item {
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & p {
        margin: 0;
        color: $hover-links;
    }
}

.feedback-data__item:nth-child(6) {
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-around;
}

.feedback-data__item input{
  width: 80%;
  background-color: $hover-links;
  font-size: 16px;
  color: blue;
}

.feedback-data__item textarea{
    width: 80%;
    min-height: 60px;
    background-color: $hover-links;
    font-size: 16px;
    color: blue;
  }


.file__upload {
    border-radius: 30px;
    border: 3px solid #FFF;
    width: 100px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-text;
    color: $text-color;
    margin: 0;
    font-size: 16px;
    color: $hover-links;
}

.feedback-data__button {
    border-radius: 30px;
    border: 3px solid #FFF;
    width: 140px;
    height: 45px;
    padding: 0;
    display: block;
    background-color: $main-text;
    margin: 0 auto;
    color: $hover-links;
}

.feedback-header {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.feedback-data__notification {
    color: $reference-color;
}

.feedback-data__law--ref {
    color: $hover-links;
    border: none;
    background-color: $main-color;
}

.feedback-data__input-surname {
    border: 3px #fff;
    border-radius: 25px;
    padding-left: 20px;
}

