.feedback {
    @media (min-width: 1200px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.feedback-data__fieldset-feedback {
    min-width: 310px;
    padding: 0;
    border: none;
    margin: 0 auto;

    @media (min-width: 1200px) {
        width: 700px;
        border: none;
    }

    @media (min-width: 1900px) {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
        border: none;
    }
}

.feedback-data__list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600px;
}

.feedback-data__item {
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & p {
        margin: 0;
        color: $reference-color;
    }
}

.feedback-data__item--attach {
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;

    @media (min-width: 1200px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.feedback-data__item input{
  width: 80%;
  background-color: $main-color;
  font-size: 16px;
  color: $reference-color;
}

.feedback-data__item textarea{
    width: 80%;
    min-height: 60px;
    background-color: $main-color;
    font-size: 16px;
    color: black;
  }


.file__upload {
    border-radius: 30px;
    border: 3px solid #FFF;
    width: 100px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    color: $text-color;
    margin: 0;
    font-size: 16px;
    color: $reference-color;
}

.feedback-data__button {
    border-radius: 30px;
    border: 3px solid #FFF;
    width: 140px;
    height: 45px;
    padding: 0;
    display: block;
    background-color: $main-color;
    margin: 0 auto;
    color: $reference-color;
}

.feedback-header,
.feedback-header__request {
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.feedback-data__notification {
    color: $reference-color;
}

.feedback-data__law--ref {
    color: $hover-links;
    border: none;
    background-color: $main-color;
}

.feedback-data__input-name {
    border-radius: 25px;
    border-radius: 5px;
    border: 1px solid $reference-color;
    padding-left: 20px;
}

.feedback-data__input-name {
    padding-left: 20px;
    border: 1px solid $reference-color;
    border-radius: 5px;
}

.feedback-data__input-email {
    padding-left: 20px;
    border: 1px solid $reference-color;
    border-radius: 5px;
}

.feedback-data__input-phone  {
    padding-left: 20px;
    border: 1px solid $reference-color;
    border-radius: 5px;
}

.feedback-data__input-message {
    padding-left: 20px;
    border: 1px solid $reference-color;
    border-radius: 5px;
}

.feedback-data__law--link {
    color: $policy-header;
}

.feedback-data__law--link:visited {
    text-decoration: none;
}