footer {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    min-height: 80px;
    
    background-color: $main-color;
    justify-content: center;
}

footer ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 660px) {
        justify-content: center;
        text-align: center;
    }

    @media (min-width: 1200px) {
        justify-content: center;
        align-items: center;
    }
}

footer li {
    
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    color: $reference-color;
    text-decoration: none;
    text-align: center;
    list-style: none;
    justify-content: center;
    
    @media (min-width: 660px) {
        width: 40%;
    }

    @media (min-width: 1200px) {
        width: 45%;
        padding-bottom: 10px;
    }
}

footer li a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: $reference-color;
    text-decoration: none;
    justify-content: center;
}

// dorabotat
.links__item--active:hover {
    color: $policy-header;
}