.header {
  width: 100%;
  padding-top: 30px;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

