.main-navigation {
    @media (min-width: 320px) {
        display: none;
    }

    @media (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        height: 50px;
    }
}

.main-navigation__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    list-style: none;
    width: 70%;
    height: 50px;
    padding: 0;
}

.main-navigation__link{
    color: $main-text;
}