.policy {
    display: flex;
    flex-wrap: wrap;
}

.policy__mainheader{
    width: 100%;
    color: $reference-color;
}

.policy__list {
    padding: 0;
    color: $main-text;
    display: flex;
    flex-wrap: wrap;
}

.policy__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: $text-color;
    text-align: justify;
}

.policy__paragraph{
    padding: 0;
    margin: 0;
}

.policy__header {
    width: 100%;
    color: $policy-header;
}